<!--
<p class="lead mb-0">Earnings</p>
<hr class="mt-0">
<p class="text-muted">
    In addition to the fixed show-up fee of {{ session.config.participation_fee }},
    you receive an endowment of {{ session.ENDOWMENT }} for your decision.
</p>
-->


<p class="lead mb-0">Decision & Earnings</p>
<hr class="mt-0">
<p class="text-muted">
    In this part of the study we ask you to make one decision.
    <br><br>
    To this end, you are randomly matched with another participant, who also participates in the study.
    You can decide how much money to allocate to this person.
    Doing so, you can choose any amount between $0.00 and {{ session.ENDOWMENT }}.
    <br><br>
    Of that {{ session.ENDOWMENT }}, every cent that is not allocated to the other person will be transferred to your
    bank account at the end of the study. For example, if you allocate 0 cents to the other person, you will receive
    an additional bonus of {{ session.ENDOWMENT }} and the other person receives a bonus of $0.00.
    If you allocate {{ session.ENDOWMENT }} to the other person, you will receive a bonus of $0.00 and the other person
    will receive a bonus of {{ session.ENDOWMENT }}
    <br><br>
    Please note that your choice has an actual impact: Both you and the other person will be paid according
    to your choice.
</p>

<p class="lead mb-0">Input</p>
<hr class="mt-0">

{{ if participant.interface == "Voice" }}
<p class="text-muted">
    You will use your microphone to record your decision. To this end, you will see buttons that enable you to start, stop
    and submit your recording.
    In addition, you will see a fill-in-the-gap-text. Use it to communicate your decision.
    You can withdraw your recording and start a new one before you submit.
    {{ if participant.allowReplay }}
    You can listen to your recording.
    {{ else }}
    You cannot listen to your recording, though.
    {{ endif }}
</p>
{{ endif }}

{{ if participant.interface == "Text" }}
<p class="text-muted">
    You will use your keyboard to record your decision. To this end, you will see a text field.
    In addition, you will see a fill-in-the-gap-text. Use it to communicate your decision.
</p>
{{ endif }}

{{ if participant.interface == "Dropdown" }}
<p class="text-muted">
    You will use your mouse to record your decision. To this end, you will see a text dropdown menu.
</p>
{{ endif }}

{{ if participant.interface == "Slider" }}
<p class="text-muted">
    You will use your mouse to record your decision. To this end, you will see a slider.
</p>
{{ endif }}


<p class="text-muted">
    Please Note:
</p>
<ul class="text-muted">
    <li>You can choose any integer between 0 and 200 (cent).</li>
    <li>Once you have submitted your decision, you cannot make any changes.</li>
</ul>

<p class="lead mb-0">Procedure</p>
<hr class="mt-0">
<p class="text-muted">
    After you have made your decision, you have to answer a short questionnaire.
    Once you have done so, you have finished this study, and we will start administering the payments.
</p>

<!--
<p class="lead mb-0">...</p>
<hr class="mt-0">
<p class="text-danger">
    I think we should tell this later:
</p>
<p class="text-muted">
    I think we should tell this later:
    In addition to the participant mentioned above, you will also be matched with <u>another</u> person, who participates in
    this study right now. This person allocates money to you.
</p>
-->